html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

button {
  padding: 0.5rem 1rem;
  font-weight: bold;
}

.slick-prev:before,
.slick-next:before {
  font-size: 50px !important;
  color: black !important;

}

.slick-prev {
  color: black !important;
  left: 10PX !important;
  z-index: 100 !important;
}

.slick-next {
  color: black !important;
  right: 40px !important;
  z-index: 100 !important;
}

.slick-slide {
  padding-left: 0.5rem!important;
  padding-right: 0.5rem!important;
}